.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #f5f8ff;
}


/*nav section*/
.gray{
    color: rgba(0, 0, 0, 0.5);
}
.nab-2{
    display: flex;
    align-items: center;
    padding-top:35px;
    font-size: 20px;
    padding-right: 40px;
}

ul{
    display: flex;
    justify-content: space-between;
   
}
ol{
    justify-items: center;
}
.logo{
    height: auto;
    padding-bottom: 100px;
}
.p-2{
    height:400px;
    width: auto;
    margin: 0 40px;
    display:block

}

.para-2,.noto-serif-normal{
     line-height: 2px;
     font-size: 60px;
     font-weight: 600px;
     padding-left: 30px;
    
}
.org{
    color:#e95a08;
}

.asy{
    line-height: 1.6px;
    font-size:18px;
    padding-left: 30px;
}
.all-para{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

/*main section*/

.para-3{
    font-size:18px;
    padding-bottom: 20px;
}
.card{
    text-align: center;
}
.full-card{
    margin: 0 80px;
    padding-bottom:200px;
}

.slid-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.flower img{
    width: 100%;
}
.flower p{
    font-size: 15px;
}
 
.btn{
    color: white;
    background-color:#e95a08;
    width: 100%;
    height: 45px;
    border: none;
}

/*middle part*/

section ul{
    font-size: 18px;
    display: block;
    
}
.mid-font{
    position: relative;
    left: -200px;
    font-size: 40px;
    padding-left: -50px;
    padding-top: 70px;
}
.paragraph{
    display: flex;
    justify-content: center;
    gap: -50px;
    padding-left: 40px;
  
}
section img{
    height: 500px;
}
.overlay-image {
  position: relative;
  top: -350px;     
  left: -200px;
  width: 250px;  
  height: 250px;
}

/*text section*/
.text{
   text-align: center;
   padding-top: 40px;
   padding-bottom: 50px;
}


.picture{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
   
}
.row img{
    height:200px;
    width: 410px;
    border-radius: 15px;
    margin-bottom: 15px;

} 
.img-1{
    position: relative;
}
.img-2{
    position: relative;
}



.row .item-text{
    top: 0;
    left: 0;
    width: 410px;
    height: 200px;
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
} 


.row-2 img{
    height: 415px;
    width: 700px;
    border-radius: 15px;
    margin-bottom: 15px;

}

.row-2 .item-text{
    top: 0;
    left: 0;
    width: 700px;
    height: 415px;
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);

    
}
.item-1 p{
    font-size: 16px;
    color: white;
   
    
}
.item-1 a{
    color: white;
    font-size: 16px;
}

.item-2 p{
    font-size: 25px;
    color: white;
   
    
}
.item-2 a{
    color: white;
    font-size: 25px;


}



/*banner part*/


.join-color{
    z-index: 1;
    background:url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0px;
    position: relative;
}
.join-color::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.join-title h2{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;

}
.join-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.join-form input{
    border: none;
    padding: 10px 20px;
    width: 500px;

}
.join-form button{
    color: white;
    font-size: 16px;
    border: none;
    padding: 9px 30px;
    background-color: #e95a08;
}






/*footer section*/
.main-ft{
    margin-top: 100px;
    margin-bottom: 50px;
}

footer ,.fog{
    font-size: 15px;
}

.big{
    display: flex;
}
.final{
    padding-right: 200px;
}
.balk p{
    margin-bottom: 25px;
    padding-right: 150px;
}

.bang p{
    margin-bottom: 25px;
    padding-right: 150px;
}
.logop{
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 10px;
    padding: 15px;
}

/*spin part*/
.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*responsive part*/
@media screen and (max-width:576px) {
  .logo{
    height: 40px;
    width: 40px; 
}
.hide{
    display: none;

}
}
@media screen and (max-width:576px) {


.para-2 p{
     font-size: 8px;
     font-weight: 10px;
    
    
}
.asy{
    font-size: 7px;
}
}



@media screen and (max-width:576px) {
  .slid-card{
     grid-template-columns: repeat(2,1fr);
  } 
    
}
@media screen and (max-width:576px) {
.paragraph{
    flex-direction: column;
    order: -1;
}
.overlay-image{
    position: relative;
    top: -570px;     
    left: -110px;
    width: 200px;  
    height: 200px; 
}
.bak{
    width: 100%;
    text-align:center;
    justify-content: center;
    justify-items: center;
}
}

@media screen and (max-width:576px) {
.picture{
    flex-direction: column;
}
.row-2 .item-text{
    height:100%;
    width:100%;
}
.row-1 .item-text{
    height:200px;
    width:400px;

}
}

@media screen and (max-width:576px) {
.big{
    flex-direction: column;
}
}
